{% extends "base.html" %}
{% block content %}
  <div class="container">

    <div class="page-header">
      <h1>Circles <small>{{ user.username }}</small></h1>
      <p>
        <a href="/">home</a> &middot;
        <a href="/settings">settings</a> &middot;
        <a href="/logout">logout</a>
      </p>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="well" style="margin-bottom: 5px;">
          <form method="post">
            <div class="input-group">
              <input type="text" name="name" class="form-control" placeholder="E.g. family or friends">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Create</button>
              </span>
            </div> <!-- /input-group -->    
          </form>
        </div>
      
        <p style="margin-bottom:20px;">
        {% for c in circles %}
          <span class="label label-primary">{{ c.name }}</span>
        {% endfor %}
        </p>


      </div> <!-- centered column -->
    </div> <!-- post row -->


    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ul class="list-group">
          {% for r in req %}
            <li class="list-group-item">
              <p style="margin-bottom: 0;">
                Request from {{ r.fromUser }} <br>
                <a href="/accept?toUser={{ user }}&fromUser={{ r.fromUser }}&accept=yes">Accept</a>
                <a href="/accept?toUser={{ user }}&fromUser={{ r.fromUser }}&accept=no">Deny</a>
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div> <!-- requests row -->

            
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {% for f in friends %}
          <div class="panel panel-default">
            <div class="panel-body">
              <h4>{{ f.username }} <small>{{ f.email }} &middot;
                  <a style="text-align: right;" href="/edit?friend={{ f.objectId }}">Edit</a> &middot; 
                  <a style="text-align: right;" href="/rmfriend?friend={{ f.objectId }}">Remove Friend</a> 
              </small><h4>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>




  </div> <!-- container -->
{% endblock %}
