{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="well">
          <form method="post">
            <div class="input-group">
              <input type="text" name="name" class="form-control" placeholder="E.g. family or friends">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Create</button>
              </span>
            </div> <!-- /input-group -->    
          </form>
        </div>
      
      </div> <!-- centered column -->
    </div> <!-- post row -->
  </div>
{% endblock %}
