{% extends "base.html" %}
{% block content %}
  <div class="container">

    <div class="page-header">
      <h1>Circles <small>{{ user.username }}</small></h1>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ul class="list-group">
          {% for r in req %}
            <li class="list-group-item">
              <p style="margin-bottom: 0;">
                Request from {{ r.fromUser }} <br>
                <a href="/accept?toUser={{ user }}&fromUser={{ r.fromUser }}&accept=yes">Accept</a>
                <a href="/accept?toUser={{ user }}&fromUser={{ r.fromUser }}&accept=no">Deny</a>
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div> <!-- requests row -->

    <!-- 
    {% for r in req %}
      <h1>Request from {{ r.fromUser }}</h1>
      <a href="/accept?toUser={{ user }}&fromUser={{ r.fromUser }}">Accept</a>
    {% endfor %}
    -->

    {% for f in friends %}
      <h4>Friend {{ f.username }}<h4>
      <a href="/addfriend?email={{ f.email }}">Add friend</a>
    {% endfor %}
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="well">
          <form method="post">
            <div class="input-group">
              <input type="text" name="name" class="form-control" placeholder="E.g. family or friends">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">Create</button>
              </span>
            </div> <!-- /input-group -->    
          </form>
        </div>
      
      </div> <!-- centered column -->
    </div> <!-- post row -->
  </div>
{% endblock %}
