{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Search <small>Showing results for "{{ query }}"</small></h1>
    <p>
        <a href="/">home</a> &middot;
        <a href="/circles">circles</a> &middot;
        <a href="/settings">settings</a> &middot;
        <a href="/logout">logout</a>
    </p>
  </div>

  <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="panel panel-default">
          <div class="panel-body">
            <form action="search" method="get">
              <div class="input-group">
                <input type="text" name="query" class="form-control" placeholder="Enter a friend's name">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary">Search</button>
                </span>
              </div> <!-- /input-group -->    
            </form>
          </div>
        </div>
      
      </div> <!-- centered column -->
    </div> <!-- search row -->


  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {% for f in friends %}
          <div class="panel panel-default">
            <div class="panel-body">
              <h4>{{ f.username }} <small>{{ f.email }} &middot;
                  <a href="/addfriend?email={{ f.email }}">Add friend</a>
              </small><h4>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
