{% extends "base.html" %}
{% block content %}
  <div class="jumbotron vertical-center">
    <div class="container">

      <div class="row">
        <div class="col-md-6">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Update user information</h3>
            </div>
            <div class="panel-body">
              <form action="login" method="post">
                <div class="form-group">
                  <label for="username">New username</label>
                  <input type="text" class="form-control" name="username" id="username"></input>
                </div>
                <div class="form-group">
                  <label for="password">New password</label>
                  <input type="password" class="form-control" name="password" id="password"></input>
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">New profile image</label>
                  <input type="file" id="exampleInputFile">
                </div>
                <button type="submit" class="btn btn-default">Update</button>
              </form>
            </div>
          </div>
          
        </div>
      </div>

    </div>
  </div>
{% endblock %}
