{% extends "base.html" %}
{% block content %}
  <div class="jumbotron vertical-center">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <form action="register" method="post">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="text" class="form-control" name="email" id="email"></input>
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username" id="username"></input>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" class="form-control" name="password" id="password"></input>
            </div>
            <button type="submit" class="btn btn-default">Sign up</button>
          </form>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6" style="padding-top:20px;">
          <p>Already have an account? <a href="/login">Login</a>.</p>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
